# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.0.2]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: 'echo "$FIREBASE_ADMIN_DATA" > firebase-admin.json'
      shell: bash
      env:
        FIREBASE_ADMIN_DATA: ${{secrets.FIREBASE_ADMIN}}
    - run: 'echo "$GCP_KEY_DATA" > gcp-key.json'
      shell: bash
      env:
        GCP_KEY_DATA: ${{secrets.GCP_KEY}}
    - run: 'echo "$TEST_ENV_FILE_DATA" > .env'
      shell: bash
      env:
        TEST_ENV_FILE_DATA: ${{secrets.TEST_ENV_FILE}}
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test
